* {
    margin: 0;
    /* Margem*/
    padding: 0;
    /* definir uma distância entre o conteúdo de um elemento e as suas bordas*/
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    padding-top: 20px;
    padding-right: 100px;
    padding-left: 100px;
}

.conteudo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /*alinha o horizontal - space-between espacamento entre eles*/
    align-items: center;
    /*alinha o vertical*/
}

.caixa-texto {
    width: 600px;

}

.caixa-imagem {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    /* Joga tudo pro final*/
    margin-top: 250px;
    /* coloca uma margem em ''cima''(top) para item descer*/

}

.menu {
    display: flex;
    justify-content: center;

}

button {
    background-color: #017143;
    /* Cor de fundo*/
    color: floralwhite;
    /* Cor das letras*/
    border: none;
    /* borda (sem borda - none)*/
    padding: 10px;
    /* faz crescer*/
    border-radius: 20px;
    /* arredondamento borda*/
    cursor: pointer;

    box-shadow:rgba(1, 113, 67, 1);
   
}
button:hover {
    opacity: .8;

}

button:active {
    opacity: .5;

}

h2 {
    font-size: 60px;
    /* tamanho da fonte*/
    font-weight: 500;
    /* grossura da fonte*/

}

span {
    color: #017143;
    font-size: 70px;
    font-weight: 900;
}

p {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo {
    width: 120px;
    /*tamanho em largura*/

}

.copao {
    width: 340px;
    z-index: 2;

}

.copo-pequeno {
    width: 90px;
    cursor: pointer;
    transition: 1s;
}

.copo-pequeno:hover {
    transform: translateY(-40px);
}

.circulo {
    background: #017143;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: circle(600px at right 800px);

}

